h1 {
	font-family: verdana, arial, sans-serif;
	font-size: 55px;
	font-weight: bold;
	text-align: center;
	font-variant: small-caps;
	font-style: oblique;
}

p {
	font-family: verdana;
	font-weight: lighter;
	text-align: center;
}